@page "/events"
@using EventEase.Models
@inject EventEase.Services.EventService EventService
@inject EventEase.Services.UserService UserService
@inject EventEase.Services.AttendanceService AttendanceService
@rendermode InteractiveServer
@inject NavigationManager Navigation

<h3>Upcoming Events</h3>
<br />
<br />
@if (UserService.IsAuthenticated)
{
    <button class="btn btn-primary" @onclick="AddNewEvent">Add New Event</button>
}
<br />
<br />
@if (events.Any())
{
    <div class="event-list">
        <table class="table">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Date</th>
                    <th>Location</th>
                    <th></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var eventItem in events)
                {
                    <tr>
                        <td>@eventItem.EventName</td>
                        <td>@eventItem.Date.ToString("MMMM dd, yyyy")</td>
                        <td>@eventItem.Location</td>
                        @if (UserService.IsAuthenticated)
                        {
                            <td><button class="btn btn-primary" @onclick="() => GoToEventDetails(eventItem)">Edit Details</button></td>
                            <td><button class="btn btn-primary" @onclick="() => MarkAttendance(eventItem)">Mark Attendance</button></td>
                        }
                    </tr>
                }
            </tbody>
        </table>
    </div>
}
else
{
    <p>No events found.</p>
}

@code {
    private List<Event> events;
    private bool attendanceMarked = false;

    protected override void OnInitialized()
    {
        events = EventService.GetEvents();
    }

    private void GoToEventDetails(Event eventItem)
    {
        // This is where you should stop at the debugger
        Console.WriteLine($"Navigating to event: {eventItem.EventName}");

        // Ensure the navigation works as expected
        Navigation.NavigateTo($"/event/{eventItem.Id}");
    }

    private void AddNewEvent()
    {
        // This is where you should stop at the debugger
        Console.WriteLine("Adding a new event");

        // Ensure the navigation works as expected
        Navigation.NavigateTo($"/registerevent");
    }

    private void MarkAttendance(Event eventItem)
    {
        Navigation.NavigateTo($"/attendance/{eventItem.Id}");
    }
}
